.adjuster {
  min-width: 9rem;
  color: #252525;
  text-align: center;
  overflow: hidden;
}

.adjuster-label {
  position: relative;
  display: flex;
  flex-basis: 100%;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.adjuster-value {
  display: flex;
  flex-basis: 100%;
}

.adjuster-range-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.adjuster-input-container {
  flex-basis: 3rem;
  padding: 0.2rem;
}

.adjuster-value-input {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 0.9rem;
  color: #666;
  text-align: center;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

.adjuster-value-range {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #666;
  appearance: none;
  background-color: transparent;
}

.adjuster-value-range:focus {
  outline: none;
}

.adjuster-value-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background-color: currentColor;
  border-radius: 2px;
}

.adjuster-value-range::-moz-range-track {
  height: 2px;
  width: 100%;
  cursor: pointer;
  background-color: currentColor;
  border-radius: 2px;
}

.adjuster-value-range::-webkit-slider-thumb {
  margin-top: -0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  border: 0;
  cursor: pointer;
  appearance: none;
  background-color: currentColor;
  border-radius: 1.5rem;
  transition: 0.1s ease;
}

.adjuster-value-range::-webkit-slider-thumb:hover,
.adjuster-value-range::-webkit-slider-thumb:active {
  margin-top: -1.8rem;
  width: 2.5rem;
  height: 2.5rem;
}

.adjuster-value-range::-moz-range-thumb {
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  appearance: none;
  background-color: currentColor;
  border: 0;
  border-radius: 1rem;
  transition: 0.1s ease;
}

.adjuster-value-range::-moz-range-thumb:hover,
.adjuster-value-range::-moz-range-thumb:active {
  margin-top: -0.5rem;
  width: 1.1rem;
  height: 1.1rem;
}

@media (hover) {
  .adjuster-value-range::-webkit-slider-thumb {
    margin-top: -0.3rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 1rem;
  }

  .adjuster-value-range::-webkit-slider-thumb:hover,
  .adjuster-value-range::-webkit-slider-thumb:active {
    margin-top: -0.5rem;
    width: 1.1rem;
    height: 1.1rem;
  }
}
