.controls {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  width: 320px;
  background-color: #fff;
  overflow-y: scroll;
}

.controls-heading {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.color-function {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.color-function-input {
  padding: 0;
  margin: 1rem 0 0.7rem 0;
  font-size: 1rem;
  color: #252525;
  border: 0;
}

.controls-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: scroll;
}

.controls-list li {
  display: block;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.controls-list li:last-child {
  margin-bottom: 0;
}
