.swatches {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-self: stretch;
}

.swatchContainer {
  position: relative;
  display: flex;
  flex-basis: 100%;
  align-items: flex-end;
  padding: 2rem 1rem 3rem 1rem;
  min-height: 8rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.swatchInfo {
  z-index: 10;
  flex-basis: 100%;
  max-width: 21rem;
}

.swatchInput {
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-size: 1.4rem;
  border: 0;
  border-bottom: 1px solid currentColor;
}

.swatchInput:focus {
  outline: none;
}

@media (min-width: 43em) {
  
  .swatchContainer {
    flex-basis: 50%;
  }
}
