.swatch {
  position: relative;
  padding: 2rem 1rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.swatch-inner {
  z-index: 10;
}

.swatch-input {
  display: block;
  padding: 0.5rem 0;
  width: 100%;
  font-size: 1rem;
  border: 0;
  border-bottom: 1px solid currentColor;
}

.swatch-input:focus {
  outline: none;
}
